include ./components/inputs.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap", rel="stylesheet")
  body 
    .profile
      .profile__personal-data
        .personal-data.grid.grid-cols-8
          .personal-data__userpic(class='col-span-8 md:col-span-2' style=`background-image: url(assets/userpic.png)`)
          .personal-data__fields(class='col-span-8 md:col-span-6')
            +input-text('Имя')
            +input-text('Дата рождения')
            +input-text('Город')
            +input-text('Контактные данные')
          .personal-data__stamp
      .profile__skills
        h4.profile__skills-title Навыки
        .profile__skills-grid.grid(class='grid-cols-2 sm:grid-cols-3 md:grid-cols-4')
          each skill, idx in ['HTML5', 'Sass', 'VanillaJS', 'git', 'CSS3', 'Less', 'Angular', 'Foundation', 'БЭМ', 'Gulp', 'JQuery', 'Bootstrap']
            .profile__skill.input-checkbox
              input.input-checkbox__input(type='checkbox' id=idx)
              label.input-checkbox__label(for=idx)= skill 
      .profile__result.grid.grid-cols-8
        .result-scale(class='col-span-8 md:col-span-4 mb-8 md:mb-0')
          .result-scale__arrow
            .result-scale__arrow-inner
        .profile__result-text(class='col-span-8 md:col-span-4')
          h4.profile__result-title
            | Мой уровень владения
            br
            | Java Script
          .profile__result-number.hero 0