$arrow-width: 18px;
$arrow-length: 60px;
$color-blue: #0093d7;
$color-grey: #666;

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font: 500 12px/24px 'Roboto', sans-serif;
}

h4 {
  font: 500 18px/24px 'Roboto', sans-serif;
}

.hero {
  font: 900 50px/24px 'Roboto', sans-serif;
}
