.profile {
  max-width: 660px;
  margin: 15px auto 0;

  &__personal-data {
    margin-bottom: 2px;
    padding: 25px 20px 35px;
    background-color: #fdfcf9;
  }
  &__skills {
    margin-bottom: 2px;
    padding: 30px 20px;
    background-color: #fdfcf9;
  }
  &__skills-title {
    margin-bottom: 20px;
  }
  &__skills-grid {
    row-gap: 35px;
  }
  &__result {
    padding: 55px 20px 65px;
    background-color: #fdfcf9;
  }
  &__result-title {
    margin-bottom: 25px;
  }
  &__result-number {
    color: $color-blue;
  }
}

.personal-data {
  position: relative;

  &__userpic {
    width: 135px;
    height: 135px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 135px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__fields {
    display: flex;
    flex-direction: column;

    & > *:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__stamp {
    position: absolute;
    right: -15px;
    bottom: -20px;
    width: 184px;
    height: 166px;
    background: url('../assets/stamp.png');
  }
}

.result-scale {
  position: relative;
  width: 253px;
  height: 127px;
  background: url('../assets/scale.png') center / cover no-repeat;

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: transform ease 0.3s;
    transform: rotateZ(0deg);
    transform-origin: bottom left;
  }
  &__arrow-inner {
    position: relative;
    width: $arrow-length + $arrow-width / 2;
    height: $arrow-width;
    transform: translateX(-100%) translateX($arrow-width / 2) translateY($arrow-width / 2);

    &::before {
      content: '';
      position: absolute;
      width: $arrow-length;
      height: $arrow-width;
      border-top: $arrow-width / 2 solid transparent;
      border-right: $arrow-length solid #3d3d3f;
      border-bottom: $arrow-width / 2 solid transparent;
    }
    &::after {
      content: '';
      position: absolute;
      right: 1px;
      width: $arrow-width / 2;
      height: $arrow-width;
      border-top-right-radius: $arrow-width / 2;
      border-bottom-right-radius: $arrow-width / 2;
      background-color: #3d3d3f;
    }
  }
}
