.input-text {
  &__input {
    width: 100%;
    padding: 5px 0;
    border-color: #333;
    border-bottom: 2px solid;
    outline: none;
    transition: border-color ease 0.3s;

    &:focus {
      border-color: $color-blue;
    }
    &::placeholder {
      color: $color-grey;
      text-transform: uppercase;
    }
  }
}
.input-checkbox {
  $self: &;

  &__input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
  }
  &__label {
    position: relative;
    padding-left: 25px;
    color: $color-grey;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background-color: #eee;
      transition: background-color ease 0.3s;
      transform: translateY(-50%);
    }
  }
  &__input:checked + &__label::before {
    background: url('../assets/check.png') center no-repeat;
    background-color: $color-blue;
  }
}
